body{
    background-image: url(../images/star_tile.jpg);
    background-repeat: repeat-xy; 
}
img{
    height: 259px;
    width: 194px;
}
.left{
    float: left;
    width: 49%;
    margin: auto;
}
.right{
    float: left;
    width: 49%;
    margin: auto;
}
.middle{
    float: middle;
    margin: auto;
}