*{
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-image: url(../images/star_tile.jpg);
    background-repeat: repeat-xy; 
}
img{
    height: 302px;
    width: 233px;
}
.left{
    float: left;
    width: 49%;
    margin: auto;
}
.right{
    float: left;
    width: 49%;
    margin: auto;
}